.faqsSection {
	margin: 0px var(--marginHorizontal);
	width: calc(var(--widthCalc));
	padding: 120px 0px 40px 0px;
}
.faqsSection .card {
	margin: 15px 0px;
	width: 100%;
}
.faqsSection .card-header {
	font: var(--textBold);
	padding: 21px;
	padding-right: 46px;
	background-color: var(--primaryColorDark);
	color: var(--primaryTextColor);
}
.faqsSection button {
	color: var(--primaryTextColor);
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: left;
	display: inline;
	white-space: normal;
}
.faqsSection button:hover, .faqsSection button:focus {
	color: var(--primaryTextColor);
	text-decoration: none!important;
}
.faqsSection h2 {
	margin: 0px;
	padding: 0px;
	font-size: 16px!important;
}
.faqsSection .card-header:not(.active) h2:before {
	content: '\02795';
	font-size: 11px;
	color: var(--primaryTextColor);
	float: right;
	margin: 0px;
	margin-right: -27px;
	margin-top: 3px;
	padding: 0px;
}
.faqsSection .card-header.active h2:before {
	content: "\2796";
	font-size: 11px;
	color: var(--primaryTextColor);
	float: right;
	margin: 0px;
	margin-right: -27px;
	margin-top: 3px;
	padding: 0px;
}
.faqsSection .card-body {
	font: var(--textPrimary);
	font-size: 14px;
	padding: 21px;
}
.faqsSection p, .faqsSection li {
	line-height: 18px;
	margin: 3px;
	font-size: 14px;
}