.footerSection {
	margin-top: 20px;
	width: 100%;
	padding: 30px 0%;
	background-color: var(--bgColor);
	background: -webkit-linear-gradient(346deg, rgba(234, 254, 251, 0.5) 0%, rgba(156, 231, 219, 0.5) 35%, rgba(187, 230, 223, 0.5) 100%);
	background: linear-gradient(346deg, rgba(234, 254, 251, 0.5) 0%, rgba(156, 231, 219, 0.5) 35%, rgba(187, 230, 223, 0.5) 100%);
	box-shadow: 0px -3px 12px rgba(153, 154, 156, 0.25);
}
@media (min-width: 768px) {
	.footerSection {
		padding: 30px 10%;
	}
}
@media (min-width: 992px) {
	.footerSection {
		padding: 30px 17%;
	}
}
@media (min-width: 1250px) {
	.footerSection {
		padding: 30px 27%;
	}
}
.footerSection .text {
	text-align: center;
}
.footerSection h2 {
	margin-bottom: 5px;
}
.footerSection h3 {
	margin-top: 0px;
}
.mailingListForm {
	margin: 30px 0px;
	padding: 0px 30px;
}
.mailingListForm input, .mailingListForm button {
	font: var(--textBold);
	height: 50px;
	line-height: 16px;
	border-style: solid;
}
.mailingListForm input {
	padding: 17px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;
	border-right-width: 0px;
	border-color: rgba(219, 220, 222, 0.3);
}
.mailingListForm input::placeholder {
	color: var(--secondaryTextColor);
	opacity: 0.4;
}
.mailingListForm button {
	padding: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 0px;
	background-color: var(--accentColor);
}
.mailingListForm input:focus {
	padding: 16px;
	padding-right: 17px;
	border-width: 2px;
	border-right-width: 0px;
	border-color: var(--accentColor);
}
.mailingListForm .shine {
	padding: 17px;
	width: 100%;
	height: 100%;
	color: var(--accentTextColor);
}
.mailingListForm .shine:hover {
	color: var(--accentTextColor);
}
.mailingListForm .shine:after {
	top: 70%;
	left: -200%;
}
.mailingListForm .shine:hover:after {
	top: -320%;
	left: -110%;
}
.socialMedia {
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.socialMedia img {
	transition: all 0.3s;
	transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	margin: 10px;
	width: 50px;
	height: 50px;
}
.socialMedia img:hover {
	transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	-webkit-transform: scale(1.3, 1.3);
}
.buttons .iOS {
    background-image: url("../imgs/iOSButton.png");
}
.buttons .android {
    background-image: url("../imgs/androidButton.png");
}
.buttons {
	width: 100%;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px;
}
.buttons .btn {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}
.footerButtons {
	padding: 0px 30px;
}
.footerButtons .btn {
	height: 50px;
	background-size: 167px 50px;
}
.footerButtons .shine {
	width: 167px;
	height: 50px;
}
@media (max-width: 675px) {
	.mailingListForm input, .mailingListForm button {
		font: var(--primaryText);
		font-weight: 500;
	}
}
@media (max-width: 450px) {
	.mailingListForm input, .mailingListForm button {
		font-size: 12px;
		font-weight: 500;
		height: 37px;
	}
	.mailingListForm input, .mailingListForm .shine {
		padding: 12px 10px;
	}
	.mailingListForm input:focus {
		padding: 11px 10px 11px 9px;
	}
	.footerButtons .btn {
		height: 37px;
		background-size: 124px 37px;
	}
	.footerButtons .shine {
		width: 124px;
		height: 37px;
	}
}
@media (max-width: 340px) {
	.mailingListForm {
		padding: 0px 15px;
	}
}
@media (max-width: 300px) {
	.mailingListForm {
		padding: 0px 10px;
	}
	.mailingListForm input, .mailingListForm button {
		font: var(--textQuaternary);
		font-weight: 500;
		height: 31px;
	}
	.mailingListForm input, .mailingListForm .shine  {
		padding: 10px 7px;
	}
	.mailingListForm input:focus {
		padding: 9px 7px 9px 6px;
	}
	.footerButtons .btn {
		height: 31px;
		background-size: 104px 31px;
	}
	.footerButtons .shine {
		width: 104px;
		height: 31px;
	}
}
@media (min-width: 390px) {
	.footerButtons {
		padding: 0px 60px;
	}
}
@media (min-width: 450px) {
	.footerButtons {
		padding: 0px 53px;
	}
}
@media (min-width: 576px) {
	.footerButtons {
		padding: 0px 95px;
	}
}
@media (min-width: 768px) {
	.footerButtons {
		padding: 0px 115px;
	}
}
@media (min-width: 900px) {
	.footerButtons {
		padding: 0px 160px;
	}
}
@media (min-width: 992px) {
	.footerButtons {
		padding: 0px 140px;
	}
}
@media (min-width: 1100px) {
	.footerButtons {
		padding: 0px 175px;
	}
}
@media (min-width: 1250px) {
	.footerButtons {
		padding: 0px 100px;
	}
}
@media (min-width: 1400px) {
	.footerButtons {
		padding: 0px 135px;
	}
}