.headerSection {
	margin: 0px;
	margin-bottom: 40px;
	padding: 90px var(--marginHorizontal) 0px var(--marginHorizontal);
	width: 100%;
	background-color: var(--bgColor);
	background: -webkit-linear-gradient(200deg, rgba(185, 226, 230, 0.85) 0%, rgba(74, 213, 190, 0.85) 38%, rgba(190, 228, 215, 0.85) 100%);
	background: linear-gradient(200deg, rgba(185, 226, 230, 0.85) 0%, rgba(74, 213, 190, 0.85) 38%, rgba(190, 228, 215, 0.85) 100%);
	box-shadow: var(--shadowSecondary);
}
.headerSection .phone {
    background-image: url("../imgs/screenshots/iphone AllSwatches 1.png");
	background-size: auto 700px;
	background-repeat: no-repeat;
	background-position: center -17%;
	height: 550px;
	vertical-align: middle;
	margin: 50px 0px 0px 0px;
}
.headerSection div {
	padding: 0px 9px;
}
.headerSection .text {
	margin-top: 70px;
	padding: 50px 0px 0px 0px;
}
.headerSection .text h2 {
	font: var(--subTitle);
}
.headerButtons {
	padding: 0px!important;
	margin: 50px 0px 0px 0px;
}
@media (max-width: 767px) {
	.headerSection {
		padding-top: 50px;
		text-align: center;
	}
	.headerButtons {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}
@media (max-width: 576px) {
	.headerSection {
		padding-top: 13px;
	}
}
@media (max-width: 420px) {
	.headerSection .text {
		padding: 20px 0px 0px 0px;
	}
	.headerButtons {
		margin-top: 30px;
	}
	.headerSection .phone {
		margin-top: 30px;
	}
}
.headerButtons .btn {
	padding: 0px!important;
	width: 154px;
	height: 46px;
	background-size: 154px 46px;
}
.headerButtons .btn.iOS {
	margin-top: 7px;
	margin-bottom: 9px;
	margin-right: 5px;
}
.headerButtons .shine {
	width: 154px;
	height: 46px;
}
@media (min-width: 407px) {
	.headerButtons .btn {
		width: 167px;
		height: 50px;
		background-size: 167px 50px;
	}
	.headerButtons .btn {
		margin: 0px;
	}
	.headerButtons .btn.iOS {
		margin: 0px;
		margin-right: 5px;
	}
	.headerButtons .shine {
		width: 167px;
		height: 50px;
	}
}
@media (min-width: 481px) {
	.headerButtons .btn {
		width: 204px;
		height: 61px;
		background-size: 204px 61px;
	}
	.headerButtons .btn.iOS {
		margin-right: 5px;
	}
	.headerButtons .shine {
		width: 204px;
		height: 61px;
	}
}
@media (min-width: 670px) {
	.headerButtons .btn {
		width: 210px;
		height: 63px;
		background-size: 210px 63px;
	}
	.headerButtons .btn.iOS {
		margin-right: 15px;
	}
	.headerButtons .shine {
		width: 210px;
		height: 63px;
	}
}
@media (min-width: 768px) {
	.headerButtons .btn {
		width: 225px;
		height: 67px;
		background-size: 225px 67px;
	}
	.headerButtons .btn.iOS {
		margin-right: 35px;
	}
	.headerButtons .shine {
		width: 225px;
		height: 67px;
	}
}
@media (min-width: 992px) {
	.headerButtons .btn {
		width: 180px;
		height: 54px;
		background-size: 180px 54px;
	}
	.headerButtons .btn.iOS {
		margin-right: 5px;
	}
	.headerButtons .shine {
		width: 180px;
		height: 54px;
	}
}
@media (min-width: 1080px) {
	.headerButtons .btn {
		width: 204px;
		height: 61px;
		background-size: 204px 61px;
	}
	.headerButtons .btn.iOS {
		margin-right: 5px;
	}
	.headerButtons .shine {
		width: 204px;
		height: 61px;
	}
}
@media (min-width: 1125px) {
	.headerButtons .btn {
		width: 214px;
		height: 64px;
		background-size: 214px 64px;
	}
	.headerButtons .btn.iOS {
		margin-right: 7px;
	}
	.headerButtons .shine {
		width: 214px;
		height: 64px;
	}
}
@media (min-width: 1200px) {
	.headerButtons .btn {
		width: 225px;
		height: 67px;
		background-size: 225px 67px;
	}
	.headerButtons .btn.iOS {
		margin-right: 15px;
	}
	.headerButtons .shine {
		width: 225px;
		height: 67px;
	}
}
@media (min-width: 1400px) {
	.headerButtons .btn {
		width: 225px;
		height: 67px;
		background-size: 225px 67px;
		background-position: left;
	}
	.headerButtons .btn.iOS {
		margin-right: 35px;
	}
	.headerButtons .shine {
		width: 225px;
		height: 67px;
	}
}