html {
	-webkit-overflow-scrolling: touch;
}
html, body {
	height: 100%;
	color: var(--primaryTextColor);
	overflow-x: hidden;
	font-family: Montserrat, sans-serif;
}
body {
	background-color: var(--bgColor);
}
a {
	color: var(--primaryTextColor);
	font: var(--textSecondary);
}
a:hover {
	color: var(--primaryTextColor);
}
h1 {
	font: var(--title);
}
h2 {
	font: var(--textBold);
}
h3, h4, h5, h6 {
	font: var(--textPrimary);
}
p, label {
	font: var(--textSecondary);
}
textarea {
	resize: none;
}
input:focus, button:focus {
	outline: none !important;
	box-shadow: none;
}
.shineBtn .shine {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.shineBtn .shine:after {
	content: "";
	position: absolute;
	top: -65%;
	left: -255%;
	width: 310%;
	height: 380%;
	opacity: 0;
	transform: rotate(30deg);
	background-color: rgba(255, 255, 255, 0.13);
	background: linear-gradient(to top, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}
.shineBtn .shine:hover:after {
	opacity: 1;
	top: -150%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}
.shineBtn .shine:active:after {
	opacity: 0;
}
p.errorText {
	margin-top: 10px;
	color: rgba(230, 0, 32, 1);
	font-weight: 500;
}