.navbar {
	z-index: 1000;
	width: 100%;
	height: 100px;
	font: var(--textSecondary);
	background-color: var(--primaryColor);
	box-shadow: 0px 10px 20px rgba(153, 154, 156, 0.4);
}
.navbar {
	margin-bottom: 0px;
}
.navbar .container {
	margin: 20px;
	width: 100%;
}
.navbar-nav {
    float: right;
    vertical-align: middle;
    margin: 12px 0px;
    padding-left: 30px;
	
}
.navbar-nav li {
    width: 100px;
    text-align: center;
}
.navbar-brand {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
    max-width: 300px
}
.navbar-brand {
    background-image: url("../imgs/iconForeground.png");
	background-size: 55px 55px;
	background-repeat: no-repeat;
	background-position: center;
    width: 45px;
    height: 45px;
    margin: 12px 0px;
    padding: 20px 0px;
    display: block;
	position: absolute;
    vertical-align: middle;
	border-radius: 25px;
}
.navbar-brand-background {
    background-image: url("../imgs/iconBackground.png");
	background-size: 45px 45px;
	
}
.navbar-brand-title {
	background-image: none;
	position: relative;
	border-radius: 0px;
	margin-left: 55px!important;
	margin-top: 6px;
	width: 100px;
	font-weight: bold;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;	
	width: 30px;
	height: 30px;
    vertical-align: middle;
    padding: 20px 0px;
	margin-right: 20px;
}
.nav-link a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: var(--accentColor);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.navbar-nav a:hover, .navbar-nav a:focus {
	text-decoration: none;
	background-color: transparent !important;
}
.nav-link a:hover::after, .nav-link a:focus::after {
	opacity: 0.5;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
#navbar.in, #navbar.collapsing {
	float: right;
	margin: 0;
	width: 160px;
	height: 100%;
	overflow-y: hidden;
	background-color: var(--primaryColor);
	box-shadow: 10px 10px 20px var(--primaryColorDark);
}
#navbar.in ul, #navbar.collapsing ul {
	margin-left: 20px;
}
#navbar.in li, #navbar.collapsing li {
	width: 150px;
	text-align: right;
	padding: 0px 15px 15px 30px;
}