.screenSection {
	margin: 0px 0px 32px 0px;
	width: 100%;
	/*box-shadow: 5px 5px 7px rgba(153, 154, 156, 0.2);*/
	box-shadow: var(--shadowSecondary);
}
.screenSection div {
	z-index: 500;
}
.screenSection .phone {
	height: 460px;
	padding: 0px;
	width: 33%;
}
.screenSection .phone div {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	padding: 0px;
	overflow: hidden;
}
.screenSection .textParent {
	padding: 0px;
	min-height: 460px;
}
.screenSection .text {
	min-height: 170px;
	width: 66%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 20px var(--marginHorizontal);
}
.screenSection .textSubsection.active {
	display: block;
}
.screenSection .textSubsection:not(.active) {
	display: none;
}
.screenSection ul {
	margin-top: 10px;
	padding-inline-start: 10px;
	margin-bottom: 7px;
}
.screenSection li {
	margin-bottom: 3px;
}
.screenSection h2{
	margin-top: 10px;
}
.screenSection h3 {
	margin-top: 0px;
	margin-bottom: 7px;
}
.screenSection h3 a {
	margin-top: 0px;
	font: var(--textPrimary);
	color: var(--secondaryTextColor);
}
.screenSection .toggle {
	margin-top: 0px;
	color: var(--secondaryTextColor);
}
.screenSection-leftArrow .phone {
	padding-left: 0px;
	padding-right: auto;
}
.screenSection-rightArrow .phone {
	padding-left: 0px;
	padding-right: auto;
	float: right;
}
.screenSection-leftArrow .text {
	/*box-shadow: 5px 5px 8px rgba(153, 154, 156, 0.25);*/
	right: 0px;
	float: right;
}
.screenSection-rightArrow .text {
	/*box-shadow: -5px 5px 8px rgba(153, 154, 156, 0.25);*/
	float: left;
}
:root {
	--screenSectionBgOpacity: 0.5;
}
.allSwatches {
	background: -webkit-linear-gradient(50deg, rgba(255, 195, 100, var(--screenSectionBgOpacity)), rgba(255, 95, 149, var(--screenSectionBgOpacity)));
	background: linear-gradient(50deg, rgba(255, 195, 100, var(--screenSectionBgOpacity)), rgba(255, 95, 149, var(--screenSectionBgOpacity)));
}
.allSwatches .phone div {
	/*margin looks larger?*/
	margin: 0px 0px 0px calc(var(--marginHorizontal) - 7px);
	background-image: url("../imgs/screenshots/iphone AllSwatches 2.png");
	background-size: 308px 620px;
	background-position: center 75%;
	width: 308px;
	height: 460px;
	float: left;
}
.allSwatches .phone #scrollingVideo {
	height: 430px;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 15px;
}
.savedLooks {
	background: -webkit-linear-gradient(50deg, rgba(5, 117, 230, var(--screenSectionBgOpacity)), rgba(0, 242, 96, var(--screenSectionBgOpacity)));
	background: linear-gradient(50deg, rgba(5, 117, 230, var(--screenSectionBgOpacity)), rgba(0, 242, 96, var(--screenSectionBgOpacity)));
}
.savedLooks .phone div {
	margin: 60px var(--marginHorizontal) 0px 0px;
	background-image: url("../imgs/screenshots/iphone SavedLooks 1.png");
	background-size: 291px 475px;
	background-position: center -27%;
	width: 291px;
	height: 400px;
	float: right;
}
.colorWheel {
	background: -webkit-linear-gradient(50deg, rgba(236, 110, 173, var(--screenSectionBgOpacity)), rgba(52, 148, 230, var(--screenSectionBgOpacity)));
	background: linear-gradient(50deg, rgba(236, 110, 173, var(--screenSectionBgOpacity)), rgba(52, 148, 230, var(--screenSectionBgOpacity)));
}
.colorWheel .phone div {
	margin: 30px 0px 30px var(--marginHorizontal);
	background-image: url("../imgs/screenshots/iphone ColorWheel 1.png");
	background-size: 170px 390px;
	width: 170px;
	height: 400px;
	float: left;
}
.paletteDivider {
	background: -webkit-linear-gradient(50deg, rgba(230, 90, 36, var(--screenSectionBgOpacity)), rgba(240, 203, 53, var(--screenSectionBgOpacity)));
	background: linear-gradient(50deg, rgba(230, 90, 36, var(--screenSectionBgOpacity)), rgba(240, 203, 53, var(--screenSectionBgOpacity)));
}
.paletteDivider .phone div {
	margin: 0px var(--marginHorizontal) 60px 0px;
	background-image: url("../imgs/screenshots/iphone PaletteScanner 4.png");
	background-size: 223px 575px;
	background-position: center 111%;
	width: 223px;
	height: 400px;
	float: right;
}
.editSwatch {
	background: -webkit-linear-gradient(50deg, rgba(219, 223, 78, var(--screenSectionBgOpacity)), rgba(86, 171, 47, var(--screenSectionBgOpacity)));
	background: linear-gradient(50deg, rgba(219, 223, 78, var(--screenSectionBgOpacity)), rgba(86, 171, 47, var(--screenSectionBgOpacity)));
}
.editSwatch .phone div {
	margin: 30px 0px 30px var(--marginHorizontal);
	background-image: url("../imgs/screenshots/iphone EditSwatch 2.png");
	background-size: 235px 390px;
	width: 235px;
	height: 400px;
	float: left;
}
@media (max-width: 992px) {
	.screenSection .textParent {
		min-height: 0px;
	}
	.screenSection .text {
		width: calc(var(--widthCalc));
		position: static;
		top: 0px;
		-webkit-transform: none;
		transform: none;
		margin: 50px var(--marginHorizontal) 40px var(--marginHorizontal);
		float: none;
		min-height: 0px;
	}
	.screenSection .phone {
		width: 100%;
		float: none;
		height: auto;
	}
	.allSwatches .phone div {
		margin: 0px calc(50% - 135px) 0px calc(50% - 135px);
		background-size: 270px 542px;
		background-position: center 0%;
		width: 270px;
		height: 460px;
	}
	.allSwatches .phone #scrollingVideo {
		height: 340px;
		margin-top: 118px;
	}
	.savedLooks .phone div {
		margin: 0px calc(50% - 145.5px) 0px calc(50% - 145.5px);
		background-size: 291px 475px;
		background-position: center -27%;
		width: 291px;
		bottom: 0px;
	}
	.colorWheel .phone div {
		margin: 30px calc(50% - 85px) 30px calc(50% - 85px);
		background-size: 170px 390px;
		width: 170px;
	}
	.paletteDivider .phone div {
		margin: 0px calc(50% - 111.5px) 30px calc(50% - 111.5px);
		background-size: 223px 575px;
		background-position: center 109%;
		width: 223px;
	}
	.editSwatch .phone div {
		margin: 5px calc(50% - 117.5px) 30px calc(50% - 117.5px);
		background-size: 235px 390px;
		width: 235px;
		height: 425px;
	}
}