<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32233212199-oao7vpqsl36k4tvi4cmkothfdpp5olpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32233212199-oao7vpqsl36k4tvi4cmkothfdpp5olpb</string>
	<key>API_KEY</key>
	<string>AIzaSyBVjVFVogpPAKA502-EygJYRIhgejcm1Os</string>
	<key>GCM_SENDER_ID</key>
	<string>32233212199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamkit</string>
	<key>PROJECT_ID</key>
	<string>glamkit-11ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>glamkit-11ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32233212199:ios:32aed792ca0296ba9a0102</string>
</dict>
</plist>